# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Flask & Gunicorn
instance/
.flaskenv
.env

# My Custom Additions
*.sqlite3
*.db