Flask==2.3.3
Flask-Login==0.6.3
Jinja2==3.1.5
MarkupSafe==3.0.2
Werkzeug==2.3.7
gunicorn==23.0.0
requests==2.32.4
python-dotenv==1.1.1
protobuf
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-firestore
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
googleapis-common-protos
grpcio
grpcio-status
absl-py==2.2.2
astunparse==1.6.3
cachetools==5.5.2
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
h5py==3.13.0
keras==3.9.2
libclang==18.1.1
ml_dtypes==0.5.1
numpy==2.1.3
optree==0.15.0
packaging==24.2
safetensors==0.5.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tf_keras==2.20.0
torch==2.6.0
transformers==4.51.2
eyed3==0.9.7
pydub==0.25.1
PyAudio==0.2.14
pyAudioAnalysis @ git+https://github.com/tyiannak/pyAudioAnalysis.git@a246ebf4c553db49ed4400e3a902d39c89ec0043
soundfile==0.13.1
soxr==0.5.0.post1
SpeechRecognition==3.14.2
audioread==3.0.1
librosa==0.11.0
joblib==1.4.2
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.6.0
imblearn==0.0
imbalanced-learn==0.13.0
plotly==6.0.1
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
beautifulsoup4==4.12.3
lxml==6.0.1
soupsieve==2.6
python-docx==1.1.0
PyPDF2==3.0.1
razorpay==1.3.0
filetype==1.2.0
boto3==1.37.0
botocore==1.37.38
jmespath==1.0.1
s3transfer==0.11.5
